* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

nav {
  height: 75px;
  width: 100%;
  background-color: lightgrey;
}

nav .logo {
position: relative;
float: right;
margin: 15px;
font-size: 1.3em;
padding: 10px;
border: solid black 1px;
}

.tag-line {
  width: 85%;
  margin: 50px auto;
}
.localfy-btn,
.load-more-btn {
  padding: 15px;
  border: solid black 1px;
  max-width: 150px;
  font-size: 1.25em;
  text-align: center;
  margin: 0 auto;
  transition: .5s ease;
}

.load-more-btn {
  margin-top: 10px;
  display: none;
}

.localfy-btn:hover,
.load-more-btn:hover {
  background-color: black;
  color: white
}

.artist {
  padding: 15px;
  width: 95%;
  border: 1px solid black;
  margin: 15px auto;
}
