.contact {
  margin-left: 10px;
}

.logo {
  margin-right: inherit;;
}

@media (min-width: 700px) {
  .nav-wrapper {
    width: 75%;
    margin: 0 auto;
  }
  #location {
    width: 75%;
  }
}

.tag-line {
  margin: 100px auto;
  text-align: center;
}

.card.large {
  height: 550px;
}

#location {
  margin: 25px auto;
  display: block;
  text-align: center;
  font-size: 1.25em;
}

.btn, .btn-large {
  margin: 15px auto;
  display: block;
}

.bottom-panel {
  display: none;
}

.bottom-panel button {
  margin-bottom: 25px;
}
