.contact {
  margin-left: 10px;
}

.logo {
  margin-right: 5px;
}

@media (min-width: 700px) {
  .nav-wrapper {
    width: 75%;
    margin: 0 auto;
  }
}

.tag-line {
  margin: 30px;
  text-align: center;
}

.card.large {
  height: 550px;
}

#location {
  marign-top: 45px;
}

.btn {
  margin: 0 auto;
  display: block;
}

.load-more-btn {
  display: none;
}
